#cont {
    // display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

#innerCont {
    display: flex;
}

.bar {
    display: inline-block;
    // background-color: cadetblue;
    margin: 1px;
    // text-align: center;
}