.main-header {
    display: flex;
    background-color: darkgray;
    width: 100%;
    height: 60px;

    @media (max-width:480px) {
        height: 175px;
    }
}

.row {
    margin: 0 !important;
}

.topElement {
    margin: auto;
}

label {
    vertical-align: super;
}

.border {
    background-color: #211f1a;
    width: 5px;
}

.algoButton {
    margin: 0px 20px;

    @media (max-width:480px) {
        margin: 0;
    }
}

.algoButton:focus {
    color: black;
}

button:not([disabled]):hover {
    color: black;
}