<div>
    <header>
        <div class="topElement">
            <button mat-raised-button color="primary" (click)="generateArray()" [disabled]="!(sorting$ | async)">Generate New array</button>
        </div>
        <div class="border"></div>
        <div class="topElement">
            <span>Change Array size & sorting speed: </span>
            <mat-slider value="10" color="primary" (input)="changeArrayLength($event)" min="4" max="100" [disabled]="!(sorting$ | async)"></mat-slider>
        </div>
        <div class="border"></div>
        <div class="topElement">
            <button class="algoButton" mat-raised-button color="primary" (click)="chooseAlgo('mergeSort')" [disabled]="!(sorting$ | async)">Merge sort</button>
            <button class="algoButton" mat-raised-button color="primary" (click)="chooseAlgo('quickSort')" [disabled]="!(sorting$ | async)">Quick sort</button>
            <button class="algoButton" mat-raised-button color="primary" (click)="chooseAlgo('heapSort')" [disabled]="!(sorting$ | async)">Heap sort</button>
            <button class="algoButton" mat-raised-button color="primary" (click)="chooseAlgo('bubbleSort')" [disabled]="!(sorting$ | async)">Bubble sort</button>
        </div>
        <div class="border"></div>
        <div class="topElement">
            <button class="sortButton" mat-raised-button color="primary" (click)="sort()" [disabled]="!(sorting$ | async)">Sort</button>
        </div>
    </header>
</div>
