header {
    display: flex;
    background-color: brown;
    width: 100%;
    height: 50px;
}

.topElement{
    // background-color: chartreuse;
    margin: auto;
}

label {
    vertical-align: super;
}

.border {
    background-color: #211f1a;
    width: 5px;
}

.algoButton {
    // background-color: peru;
    margin: 0px 20px;
}

.algoButton:focus {
    color: blue; // choose something better
}

// button:disabled {
//     color: inherit;
// }

button:not([disabled]):hover {
    color: green; // choose something better
}